// ===== COMMON =====
// windows : w
// @include w-xl {
// }
// @include w-lg-xl {
// }
// @include w-lg {
// }
// @include w-md-lg {
// }
// @include w-md {
// }
// @include w-sm-md {
// }
// @include w-sm {
// }
// @include w-xs {
// }
@mixin w-xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin w-lg-xl {
  @media (min-width: 992px) and (max-width: 1199.999px) {
    @content;
  }
}

@mixin w-lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin w-md-lg {
  @media (min-width: 768px) and (max-width: 991.999px) {
    @content;
  }
}

@mixin w-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin w-sm-md {
  @media (min-width: 576px) and (max-width: 768.999px) {
    @content;
  }
}

@mixin w-sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin w-xs {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin easy_animation(
  $animationName,
  $styleName,
  $start,
  $end,
  $duration,
  $iteration-count: 1
) {
  @keyframes #{$animationName} {
    from {
      #{$styleName}: #{$start};
    }

    to {
      #{$styleName}: #{$end};
    }
  }

  animation-name: #{$animationName};
  animation-duration: #{$duration};
  animation-iteration-count: #{$iteration-count};
}

@mixin list_clear($listStyleText) {
  #{$listStyleText} {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
}
%list_clear {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

%a_clear {
  &,
  &:active,
  &:hover,
  &:focus {
    color: #000;
  }

  &:hover {
    text-decoration: none;
  }
}
// ===== COMMON : END =====

// ===== TAG =====
header {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;

  .title {
    letter-spacing: 0.2em;
    font: normal normal bold 59px/1.4em brandon-grot-w01-light, sans-serif;
    font-size: 59px;
    text-align: center;
    font-weight: bold;
    padding-top: 35px;
    margin-bottom: 70px;

    img {
      width: 120px;
      height: 120px;
      margin: -60px 0 -60px -60px;
    }
  }
} // header

footer {
  margin-top: 80px;
  padding-bottom: 50px;
}
// ===== TAG : END =====

// ===== BASIC ELEMENT =====

body .App .btn {
  border-radius: 0;
  box-shadow: none;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  padding: 0 45px;

  &,
  &:focus,
  &:active {
    outline: none;
  }

  &.btn_style_none {
    padding: 0;
    margin: 0;
    background: transparent;
  }

  &.btn_style1 {
    border: solid 1px #000;
    color: #fff;
    background-color: #000;

    &:hover {
      color: #fff;
      background-color: #aaa;
      border-color: #aaa;
    }
  }

  &.btn_style2 {
    border: solid 1px #000;
    background: #fff;
    color: #000;
  }

  &.btn_style3 {
    background: transparent;
    color: #000;
  }
} // btn

.content {
  min-height: calc(100vh - 400px);
} // content

.text_title {
  letter-spacing: 1px;
} // text_title
// ===== BASIC ELEMENT : END =====

// ===== BOX =====
[class$="_box"] {
  margin-bottom: 20px;

  > .box_title {
    padding-top: 50px;
    padding-bottom: 35px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
  }
}

.banner_box {
  position: relative;

  &[objectfit="cover"] {
    .datas > li img {
      object-fit: cover;
    }
  }

  .datas {
    @extend %list_clear;
    width: 100%;
    overflow: hidden;
    background: #eee;
    position: relative;

    @include w-xs {
      height: 300px;
    }
    @include w-sm {
      height: 300px;
    }
    @include w-md {
      height: 450px;
    }
    @include w-lg() {
      height: 650px;
    }

    > li {
      display: none;
      width: 100%;
      height: inherit;
      overflow: hidden;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    > .now {
      display: inline-block;
      left: 0;
    }

    $bannerduration: 1s;
    &[bannerdirection="goRight"] {
      > .prve {
        display: inline-block;
        left: -100vw;

        @include easy_animation(
          "banner_prve_move_right",
          left,
          0,
          -100vw,
          $bannerduration
        );
      }

      > .now {
        @include easy_animation(
          "banner_now_move_right",
          left,
          100vw,
          0,
          $bannerduration
        );
      }
    }

    &[bannerdirection="goLeft"] {
      > .prve {
        display: inline-block;
        left: 100vw;

        @include easy_animation(
          "banner_prve_move_left",
          left,
          0,
          100vw,
          $bannerduration
        );
      }

      > .now {
        @include easy_animation(
          "banner_now_move_left",
          left,
          -100vw,
          0,
          $bannerduration
        );
      }
    }

    &[banneraction="stop"] {
      > .prve,
      > .now {
        animation-iteration-count: 0;
      }
    }
  }

  .control {
    .left_n_right {
      .btn {
        position: absolute;
        top: 50%;
        border-radius: 30px;
        background-color: #ffffff;
        text-align: center;
        line-height: 30px;
        width: 30px;
        height: 30px;
        font-size: 12px;
        font-weight: bold;
        opacity: 0.05;

        &:hover {
          opacity: 0.2;
        }
      }

      .btn_left {
        left: 15px;
        i {
          margin-left: -2px;
        }
      }

      .btn_right {
        right: 15px;
        i {
          margin-right: -2px;
        }
      }
    }

    .pagertion {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 15px;
      left: 0;

      .btn {
        width: 12px;
        height: 12px;
        border-radius: 30px;
        background-color: #666;
        border: solid 2px #fff;
        margin: 0 5px;
        opacity: 0.2;

        &:hover {
          opacity: 0.6;
        }

        &[active] {
          background-color: #fff;
          border: solid 2px #666;
          opacity: 0.6;
        }
      }
    }
  }
} // banner_box

.slide_list_box {
  padding: 0 30px;
  position: relative;

  @include w-xl {
    padding: 0 0;
  }

  &:last-child {
    margin-bottom: 75px;
  }

  > .box_content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;

    > .showcase_item {
      flex: 0 0 25%;
      overflow: hidden;
      padding: 0 30px;

      @include w-md-lg() {
        flex: 0 0 33.3333%;
      }

      @include w-sm-md() {
        flex: 0 0 50%;
      }

      @include w-xs() {
        flex: 0 0 100%;
        padding: 0 10px;
      }

      > .item_title {
        height: 300px;
        line-height: 300px;

        img {
          max-width: 100%;
          max-height: 300px;
          width: auto;
        }
      }
    }
  }

  > .box_bottom {
    margin-top: 50px;
    padding-top: 15px;
    text-align: center;

    .control {
      .btn_left,
      .btn_right {
        position: absolute;
        top: 45%;
        background-color: #ffffff;
        color: #666;
        height: 42px;
        width: 42px;
        border-radius: 30px;
        line-height: 42px;
        text-align: center;
        opacity: 0.3;

        &:hover {
          color: #555;
          opacity: 0.8;
        }
      }

      .btn_left {
        left: -4px;
      }

      .btn_right {
        right: -4px;
      }
    }
  }
} // slide_list_box

.form_box {
  &.x {
    > .box_title {
      padding-bottom: 30px;
    }
  }
} // form_box

.google_map_box {
  > .box_title {
    + .box_content {
      padding-top: 20px;
    }
  }

  > .box_content {
    padding: 60px 0 20px;

    iframe {
      height: 450px;
    }
  }
} // google_map_box

// ===== BOX : END =====

// ===== ITEM =====
[class$="_item"] {
  margin-bottom: 14px;
}

.list_item {
  text-align: center;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 17px;
  margin-bottom: 20px;

  > .item_title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  ul {
    @extend %list_clear;

    > li {
      margin-bottom: 5px;
    }
  }

  a {
    @extend %a_clear;
  }

  &.header_menu {
    li {
      display: inline-block;
    }

    a {
      display: inline-block;
      color: #222;
      font-size: 16px;
      line-height: 30px;
      padding: 0 30px;
      margin: 0 8px;

      @include w-sm-md {
        padding: 0 15px;
      }
      @include w-xs {
        padding: 0 5px;
        margin: 0;
      }

      &:hover {
        color: #666;
      }
    }
  }

  &.footer_menu {
    a {
      font-size: 14px;

      &:hover {
        opacity: 0.6;
      }
    }
  }
} // list_item

.showcase_item {
  display: inline-block;

  > * {
    text-align: center;
    width: 100%;
  }

  > .item_title {
    > img {
      width: 100%;
    }
  }

  > .item_content {
    padding-top: 15px;
  }

  > .item_bottom {
    .btn {
      width: 100%;
    }
  }

  .title {
    margin-bottom: 10px;
  }

  .sub_title {
    margin-bottom: 10px;
  }
} // showcase_item

.broadcast_item {
  height: 50px;
  background: #2e2e2e;
  color: #fff;
  letter-spacing: 4px;
  font-size: 18px;
  margin-bottom: 10px;

  $broadcast_item_animation_duration: 1.8s;

  &.active {
    animation-name: bgChange;
    animation-duration: $broadcast_item_animation_duration;

    @keyframes bgChange {
      0% {
        background: #2e2e2e;
      }

      30% {
        background: #4e4e4e;
      }

      100% {
        background: #2e2e2e;
      }
    }

    > .item_content {
      > span {
        &.now {
          @include easy_animation(
            "broadcast_item_text_now",
            opacity,
            0,
            1,
            $broadcast_item_animation_duration
          );
        }

        &.prve {
          @include easy_animation(
            "broadcast_item_text_prve",
            opacity,
            1,
            0,
            $broadcast_item_animation_duration
          );
        }
      }
    }
  }

  > .item_content {
    line-height: 50px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;

    > span {
      position: absolute;

      &.now {
        opacity: 1;
      }

      &.prve {
        opacity: 0;
      }
    }
  }
} // broadcast_item

.split_item {
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
  margin-bottom: 20px;
  user-select: none;

  &::before {
    content: "";
    border-top: 1px solid #000;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    display: block;
  }

  > .item_content {
    display: inline-block;
    background: inherit;
    position: relative;
    padding: 10px 60px;
    font-size: 28px;

    span {
      letter-spacing: 5px;
    }
  }
} // split_item

.fill_item {
  &:focus-within {
    > .item_title {
      font-size: 16px;
    }

    > .item_content {
      .placeholder {
        display: none;
      }
    }
  }

  > .item_title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align-last: left;
    font-size: 17px;
    line-height: 24px;
    padding-top: 8px;
    transition: font-size ease-in-out 0.2s;
  }

  > .item_content {
    position: relative;

    .placeholder {
      color: #444;
      pointer-events: none;
      user-select: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: transparent;
      line-height: 42px;
      overflow: hidden;
      text-align: left;
      padding-left: 8px;
    }

    > [class="error"] {
      color: red;
      font-size: 12px;
      text-align: left;
      position: absolute;
      bottom: -16px;
      padding-left: 8px;
      user-select: none;
      position: absolute;
    }
  }
} // fill_item

.input_item {
  margin-bottom: 0;

  &.error {
    > .item_content {
      &:after {
        border-bottom-color: rgb(196, 62, 62);
      }
    }
  }

  > .item_content {
    //height: 40px;
    padding-bottom: 2px;
    position: relative;
    line-height: 32px;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid #000;
      pointer-events: none;
    }

    .placeholder {
      color: #444;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: transparent;
      line-height: 42px;
      overflow: hidden;
      text-align: left;
      padding-left: 8px;
    }

    &:focus-within {
      &:after {
        border-bottom-width: 2px;
      }

      .placeholder {
        display: none;
      }
    }
  }

  input,
  input:active,
  input:focus,
  input:focus-within,
  input:hover,
  textarea,
  textarea:active,
  textarea:focus,
  textarea:focus-within,
  textarea:hover {
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: inherit;
    outline: none;
    padding: 0 0 0 8px;
  }

  input,
  textarea {
    font-size: 18px;
    width: 100% !important;
    vertical-align: text-top;
    resize: none;
    // &.error {
    // }
  }

  textarea {
    height: 120px;
  }
} // input_item

.loading_item {
  height: 50vh;
  line-height: 50vh;
  min-height: inherit;
  position: absolute;
  z-index: 100;
  width: 100%;
  background: #fff7f7;
  text-align: center;

  &[type="web"] {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #fafff7;
    z-index: 200;
  }

  > .item_content {
    display: inline-block;
    width: 100%;
    line-height: 26px;

    .loading_animation {
      height: 80px;
      margin-bottom: 20px;

      @mixin infinite_animation(
        $animationName,
        $color1,
        $color2,
        $color3,
        $color4,
        $color5,
        $isEven: false
      ) {
        $maxhight: 100%;
        $minhight: 30%;
        @keyframes #{$animationName} {
          0% {
            background-color: #{$color1};
            @if $isEven == true {
              height: #{$maxhight};
            } @else if $isEven == false {
              height: #{$minhight};
            }
          }
          20% {
            background-color: #{$color2};
          }
          40% {
            background-color: #{$color3};
          }
          50% {
            @if $isEven == true {
              height: #{$minhight};
            } @else if $isEven == false {
              height: #{$maxhight};
            }
          }
          60% {
            background-color: #{$color4};
          }
          80% {
            background-color: #{$color5};
          }
          100% {
            background-color: #{$color1};
            @if $isEven == true {
              height: #{$maxhight};
            } @else if $isEven == false {
              height: #{$minhight};
            }
          }
        }

        animation-name: #{$animationName};
        animation-duration: 6s;
        animation-iteration-count: infinite;
      }

      span {
        padding: 0 5px;
        height: inherit;
        line-height: 80px;

        &:before {
          content: "";
          display: inline-block;
          width: 12px;
          height: inherit;
          background: #66666655;
          border-radius: 20px;
          vertical-align: middle;
        }

        &.l1:before {
          @include infinite_animation(
            "loading_l1",
            "#ff002f",
            "#9100ff",
            "#00f3ff",
            "#33ff00",
            "#ffe000"
          );
        }

        &.l2:before {
          @include infinite_animation(
            "loading_l2",
            "#9100ff",
            "#00f3ff",
            "#33ff00",
            "#ffe000",
            "#ff002f",
            true
          );
        }

        &.l3:before {
          @include infinite_animation(
            "loading_l3",
            "#00f3ff",
            "#33ff00",
            "#ffe000",
            "#ff002f",
            "#9100ff"
          );
        }

        &.l4:before {
          @include infinite_animation(
            "loading_l4",
            "#33ff00",
            "#ffe000",
            "#ff002f",
            "#9100ff",
            "#00f3ff",
            true
          );
        }

        &.l5:before {
          @include infinite_animation(
            "loading_l5",
            "#ffe000",
            "#ff002f",
            "#9100ff",
            "#00f3ff",
            "#33ff00"
          );
        }
      }
    }

    p {
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 4px;
    }
  }
} // loading_item

// ===== ITEM : END =====

// ===== PAGE =====
// ===== PAGE : END =====
